*{
    padding: 0;
    margin: 0;
}





#main-page{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows:1fr 9fr 1fr ;
    grid-template-areas: "header header" "main main" "footer footer";

}
#header{ background-color: rgb(203, 201, 200);
grid-area: header;
align-items: start;
padding: 10px;
border: rgb(0, 0, 0) solid;


}
#main{ background-color: rgb(203, 201, 200);
    grid-area: main;
    display: grid;
    text-align: start;
  grid-template-columns:  1fr 1fr 1fr  ;
  grid-template-rows:0.1fr 9fr ;
  
 
  grid-template-areas:"title title title " "c1r2 c2r2 c2r2 ";
  gap: 15px;
  height: 100%;
  
}



#footer{ 
    padding: 20px;
    
    background-color: rgb(203, 201, 200);
    grid-area: footer;
border: rgb(0, 0, 0) solid;


}
#department{
    grid-area: title;
         gap: 3px;
    display: grid;
    
    grid-template-rows: 1fr  ;
     grid-template-columns:  1fr 1fr 1fr ;
     grid-template-areas: "c1r1 c2r1 c3r1";
}
#All-courses{
    background-color:transparent;
    grid-area:c1r1;
  
align-items: start;
padding: 20px;
display: inline;

}
#It-Dep{
    background-color: rgba(255, 255, 255, 0);
    grid-area:c2r1;
 
align-items: start;
padding: 20px;
display: inline;
}
#Career-Dep{
    background-color: rgba(255, 255, 255, 0);
    grid-area:c3r1;
  
align-items: start;
padding: 20px;
display: inline;
}


#detailed-page{
     
    display: grid;
    
    grid-template-rows: 0.5fr 1fr 2fr  ;
     grid-template-columns:  1fr  ;
    width: 96%;
gap: 3px;
padding: 10px;
grid-area: main;
height: 100%;

}

#lessons{
    display: grid;
    grid-template-rows: 35px 170px 170px;
    grid-template-columns:1fr 1fr 1fr ;
    grid-template-areas:"lessons lessons lessons" "c1r2 c2r2 c3r2" "c1r3 c2r3 c3r3" ;
    align-items: center
}
#lessonTitle{
    padding:5px;
    margin:5px;
    grid-area: lessons;
   
  }
#lesson-page{
     
    display: grid;
    
    grid-template-rows: 35px 1fr 4fr   ;
     grid-template-columns:  1fr  ;
    width: 90vw;
padding: 10px;
grid-template-areas:"c1r1b" "c1r2" "c1r3" ;

}
#title-text{
    grid-area: c1r1b;
}
#title-main{
    display: inline;
}

#search-bar{
    display: flex;
   float: right;
   align-content: space-between;
   padding: 7px;
   gap: 7px;
}
#Search{
   align-self: center;
   padding: 4px;
}
#search-button{
    width:30px;
   height: 20px;

}
#Fav-page{
    display: grid;
    
    grid-template-rows: 1fr 4fr   ;
     grid-template-columns:  1fr  ;
    width: 100vw;
    height: 100vh;
padding: 10px;
}
#Favorite{
    display: block;
    margin-right: 30px;
    }


    #Fav-page{ background-color: rgb(203, 201, 200);
        grid-area: main;
        display: grid;
        text-align: start;
      grid-template-columns:  1fr 1fr 1fr ;
      grid-template-rows:0.1fr 1fr;
      
     
      grid-template-areas:"title2 title2 title2 " "c1r22 c2r22 c2r22 ";
      gap: 20px;
      height: 100%;
      
    }

    #fav-title{
        grid-area: title2;
    }


   #search-button{
        border:none grey;
        border-width: thin;
        padding: 5px;
        margin:5px;
        float: right;
        margin-right:9px;
        background-color:transparent;
       box-shadow: none#888888;
       cursor: pointer;
    }
    #lessons{
        max-height: max-content;
min-height: min-content;
    }
    #description-2{
        height: fit-content;
    }
    #video{
        align-content: center;
        justify-self: center;
    }


    #Books{
        display: block;
    margin-right: 30px;
    }
    #Books-page{
        display: grid;
        grid-template-columns:  repeat(4,1fr);
       grid-template-rows:repeat(5,1fr); 

      height: 100%;
      width: 100%;
     
       
      align-items: center;
      text-align: start;
       margin: 10px;

    }