*{
    padding: 0;
    margin: 0;
}





#main-page{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows:1fr 9fr 1fr ;
    grid-template-areas: "header header" "main main" "footer footer";

}
#header{ background-color: rgb(203, 201, 200);
grid-area: header;
align-items: start;
padding: 10px;
border: rgb(0, 0, 0) solid;


}
#main{ background-color: rgb(203, 201, 200);
    grid-area: main;
    display: grid;
    text-align: start;
  grid-template-columns:  1fr 1fr 1fr ;
  grid-template-rows:0.1fr 8fr;
  
 
  grid-template-areas:"title title title " "c1r2 c2r2 c2r2 ";
  gap: 20px;
  height: 100%;
  
}



#footer{ 
    padding: 20px;
    
    background-color: rgb(203, 201, 200);
    grid-area: footer;
border: rgb(0, 0, 0) solid;


}
#courses-title{
    background-color: rgb(255, 255, 255);
    grid-area: title;
align-items: start;
padding: 20px;

}
#detailed-page{
     
    display: grid;
    
    grid-template-rows: 2fr 3fr 3fr  ;
     grid-template-columns:  1fr  ;
    width: 96%;

padding: 10px;
grid-area: main;
height: 100vh;

}

#lesson-page{
     
    display: grid;
    
    grid-template-rows: 1fr 4fr   ;
     grid-template-columns:  1fr  ;
    width: 100vw;
padding: 10px;
}

#title-main{
    display: inline;
}

#search-bar{
    display: flex;
   float: right;
   align-content: space-between;
   padding: 7px;
   gap: 7px;
}
#search-button{
    width:30px;
   height: 20px;

}
#Fav-page{
    display: grid;
    
    grid-template-rows: 1fr 4fr   ;
     grid-template-columns:  1fr  ;
    width: 100vw;
    height: 100vh;
padding: 10px;
}
#Favorite{
    display: block;
    margin-right: 30px;
    }


    #Fav-page{ background-color: rgb(203, 201, 200);
        grid-area: main;
        display: grid;
        text-align: start;
      grid-template-columns:  1fr 1fr 1fr ;
      grid-template-rows:0.1fr 1fr;
      
     
      grid-template-areas:"title2 title2 title2 " "c1r22 c2r22 c2r22 ";
      gap: 20px;
      height: 100%;
      
    }

    #fav-title{
        grid-area: title2;
    }


   #search-button{
        border:none grey;
        border-width: thin;
        padding: 5px;
        margin:5px;
        float: right;
        margin-right:9px;
        background-color:transparent;
       box-shadow: none#888888;
       cursor: pointer;
    }